CONFIG_ARM=y
CONFIG_ARCH_FULLHAN=y
CONFIG_TARGET_FULLHAN_IM7=y
CONFIG_TEXT_BASE=0xa0800000
CONFIG_SYS_LOAD_ADDR=0xa0008000
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0xa083fff0
CONFIG_SYS_MALLOC_F_LEN=0x1000
CONFIG_SYS_MALLOC_LEN=0x100000
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x10000
CONFIG_ENV_IS_NOWHERE=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
# CONFIG_EFI_LOADER is not set
# CONFIG_CMD_BOOTEFI is not set
# CONFIG_NET is not set
# CONFIG_CMD_NET is not set
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="im7# "
CONFIG_CMD_BOOTM=y
CONFIG_CMD_MEMORY=y
CONFIG_CMD_RUN=y
CONFIG_CMD_MISC=y
CONFIG_DM=y
CONFIG_SERIAL_PRESENT=y
CONFIG_SYS_NS16550=y
CONFIG_SYS_NS16550_SERIAL=y
CONFIG_SYS_NS16550_MEM32=y
CONFIG_SYS_NS16550_REG_SHIFT=2
CONFIG_BAUDRATE=115200
CONFIG_OF_CONTROL=y
CONFIG_DEFAULT_DEVICE_TREE="fullhan-fh8626-im7"
